:root {
  --background: #202020;
  --white: #ffffff;
  --xxsm: 1.2rem;
	--xsm: 1.44rem;
	--sm: 1.728rem;
	--md: 2.074rem;
	--lg: 2.488rem;
	--xl: 2.986rem;
	--2xl: 3.583rem;
	--3xl: 4.3rem;
	--4xl: 5.16rem;
	--5xl: 6.192rem;
	--6xl: 7.43rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 80%;
  margin: 0 auto;
  padding: 10rem 0;
  background: var(--background);
  @media(min-width: 641px) {
   padding: 20rem 0;
  }
  @media(min-width: 1024px) {
    max-width: 600px;
  }
}


h1 {
  font-size: var(--lg);
  line-height: 1;
  margin-bottom: 0.5em;
  color: var(--white);
  @media(min-width: 641px) {
    font-size: var(--xl);
  }
}

p {
  font-size: var(--xsm);
  line-height: 1.5;
  color: var(--white);
  margin-bottom: 0.7em;
  @media(min-width: 641px) {
    font-size: var(--sm);
  }
}

ul {
  padding-left: 2em;
  margin-bottom: 2em;
  list-style: circle;
  li {
    font-size: var(--xsm);
    margin-bottom: 0.2em;
	  line-height: 1.3;
    color: var(--white);
    @media(min-width: 641px) {
      font-size: var(--sm);
    }
  }
}

a {
  text-decoration: underline;
  text-decoration-color: #a4a4a4;
  text-underline-offset: 2px;
  color: var(--white);
}

